In [2]:
## Initial dependencies and configuration information

from config import password2
#from config import pw2

from sqlalchemy import create_engine
import pandas as pd

In [3]:
## Read Atlas file data
## Not likely to use anything from this dataset

PATH_2019 = 'data/2019_atlas.csv'
PATH_2015 = 'data/2015_atlas.csv'
PATH_2010 ='data/2010_atlas.csv'

### READ CSV FILES INTO POSTGRES


engine = create_engine(f'postgresql://postgres:{password2}@localhost/food_dessert')

# Create Dataframe
df_2019 = pd.read_csv(PATH_2019)
# Send to postgres
#df_2019.to_sql('atlas_2019', engine)

#Create Dataframe
df_2015 = pd.read_csv(PATH_2015)
# Send to Postgres
#df_2015.to_sql('atlas_2015', engine)


#Create Dataframe
df_2010 = pd.read_csv(PATH_2010)

#Send to database
#df_2010.to_sql('atlas_2010', engine)

In [24]:
# Read Neighborhood Data
## 

# Neighborhood classification data
environment_path = 'data/Neighborhood_Effects_Food_Environment_Census_Tract_Level.csv'

# Create raw dataframe
environment_df = pd.read_csv(environment_path)

# Import raw data into postgres
#environment_df.to_sql('environment', engine)


# Health Data at the neighborhood level
effect_path = 'data/Neighborhood_Effects_Health_Status_Census_Tract_Level.csv'

# create raw dataframe
effect_df = pd.read_csv(effect_path, encoding = 'latin-1')

#Send raw csv to poistgres
#effect_df.to_sql('effect', engine)

C:\Users\Justin\AppData\Local\Temp\ipykernel_3864\1280221295.py:18: DtypeWarning: Columns (694) have mixed types. Specify dtype option on import or set low_memory=False.
  effect_df = pd.read_csv(effect_path, encoding = 'latin-1')

In [25]:
effect_df.head()
#environment_df.head()

#environment_df.columns

,GEOID10,CountyCode,CountyName,YearDX2011,YearDX2009,YearDX2014,YearDX2012,YearDX2013,YearDX2010,Diab_YearDX2009_2013,...,B18105_Ambulatory_Difficulty_HD03_VD31,B18105_Ambulatory_Difficulty_HD01_VD32,B18105_Ambulatory_Difficulty_HD02_VD32,B18105_Ambulatory_Difficulty_HD03_VD32,B18105_Ambulatory_Difficulty_HD01_VD33,B18105_Ambulatory_Difficulty_HD02_VD33,B18105_Ambulatory_Difficulty_HD03_VD33,Mortality_Rate_DeathRate_0812,Mortality_Rate_AvgDeathsPerYear_0812,Neighborhood_Index_Tot_DisabStatus_WithDisability_Est
0,26049000100,26049,Genesse,33,34,40,31,32,43,8,...,29.179331,40,35.0,21.276596,51,36.0,21.884498,1.31%,36.0,319
1,26049000200,26049,Genesse,31,27,13,26,27,23,2,...,23.708207,71,37.0,22.492401,26,20.0,12.158055,1.49%,25.8,58.7
2,26049000300,26049,Genesse,26,36,26,28,25,41,7,...,11.550152,12,18.0,10.942249,11,18.0,10.942249,1.03%,33.0,19
3,26049000400,26049,Genesse,22,23,22,25,25,18,4,...,21.276596,42,30.0,18.237082,10,12.0,7.294833,1.44%,23.0,275
4,26049000500,26049,Genesse,19,19,22,21,20,19,6,...,21.276596,24,20.0,12.158055,32,29.0,17.629179,1.04%,19.8,20.4

In [16]:
# Pair down the environment data to the columns we want

new_df = environment_df[['GEOID10','CountyCode','CountyName','Food_Desert_Tot_Pop','Food_Desert_lowa_Pop','Food_Desert_Lowi','Food_Desert_mrfei']]

# Rename columns
new_df.rename(columns={'Food_Desert_Tot_Pop':'Total_Population','Food_Desert_lowa_Pop':'Low_Acess_Population','Food_Desert_Lowi':'Low_Income_Low_Acess','Food_Desert_mrfei':'mrfei'}, inplace=True)

new_df.head()

C:\Users\Justin\AppData\Local\Temp\ipykernel_3864\1016197630.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns={'Food_Desert_Tot_Pop':'Total_Population','Food_Desert_lowa_Pop':'Low_Acess_Population','Food_Desert_Lowi':'Low_Income_Low_Acess','Food_Desert_mrfei':'mrfei'}, inplace=True)

,GEOID10,CountyCode,CountyName,Total_Population,Low_Acess_Population,Low_Income_Low_Acess,mrfei
0,26049000100,26049,Genesse,NaN,NaN,NaN,16.666667
1,26049000200,26049,Genesse,NaN,NaN,NaN,22.222222
2,26049000300,26049,Genesse,NaN,NaN,NaN,30.000000
3,26049000400,26049,Genesse,NaN,NaN,NaN,25.000000
4,26049000500,26049,Genesse,NaN,NaN,NaN,25.000000

In [18]:
#### Explore Environment Data

#new_df.isnull().sum()

new_df.info()

## Only 108 non null rows is surprising. are there only values for tracts that are considered food deserts?
## it should be possible to find the population data for the otrher tracts right? wonder why they are missing?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1592 entries, 0 to 1591
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GEOID10               1592 non-null   int64
 1   CountyCode            1592 non-null   int64
 2   CountyName            1592 non-null   object
 3   Total_Population      108 non-null    float64
 4   Low_Acess_Population  108 non-null    float64
 5   Low_Income_Low_Acess  108 non-null    float64
 6   mrfei                 1428 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 87.2+ KB

In [26]:
effect_df.columns

Index(['GEOID10', 'CountyCode', 'CountyName', 'YearDX2011', 'YearDX2009',
       'YearDX2014', 'YearDX2012', 'YearDX2013', 'YearDX2010',
       'Diab_YearDX2009_2013',
       ...
       'B18105_Ambulatory_Difficulty_HD03_VD31',
       'B18105_Ambulatory_Difficulty_HD01_VD32',
       'B18105_Ambulatory_Difficulty_HD02_VD32',
       'B18105_Ambulatory_Difficulty_HD03_VD32',
       'B18105_Ambulatory_Difficulty_HD01_VD33',
       'B18105_Ambulatory_Difficulty_HD02_VD33',
       'B18105_Ambulatory_Difficulty_HD03_VD33',
       'Mortality_Rate_DeathRate_0812', 'Mortality_Rate_AvgDeathsPerYear_0812',
       'Neighborhood_Index_Tot_DisabStatus_WithDisability_Est'],
      dtype='object', length=695)

In [33]:
# Pair down the health data to the columns we want 
# I selected the mortality rate columns and took the 2010 to 2014 data. There are also columns with the same data for 2009 to 2013
#The only catagory I didn't select is the respitory disease rate.

# Alternately there are also columns with raw count of deathes attributed to each of the causes of death. on a year to year basis.
# If we wanted to we could use that raw data from each year to calaulate the mortality rate ourselves by compairing it to total population

new_health_df = effect_df[['GEOID10',
                            'CountyCode',
                            'CountyName',
                            'AllCause_MortalityRate_10_14',
                            'Diab_MortalityRate_10_14',
                            'Cardio_MortalityRate_10_14',
                            'Kid_MortalityRate_10_14',
                            'Cancer_MortalityRate_10_14',
                            'Mental_MortalityRate_10_14']]


# Rename columns to make them a little more user friendly
new_health_df.rename(columns={'AllCause_MortalityRate_10_14':'Total_Mortality',
                                'Diab_MortalityRate_10_14':'Diabetes_Mortality',
                                'Cardio_MortalityRate_10_14':'Cardiovascular_Mortality',
                                'Kid_MortalityRate_10_14':'Kidney_Mortality',
                                'Cancer_MortalityRate_10_14':'Cancer_Mortality',
                                'Mental_MortalityRate_10_14':'Mental_Mortality'}, inplace=True)

new_health_df.head()

C:\Users\Justin\AppData\Local\Temp\ipykernel_3864\3297627967.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_health_df.rename(columns={'AllCause_MortalityRate_10_14':'Total_Mortality',

,GEOID10,CountyCode,CountyName,Total_Mortality,Diabetes_Mortality,Cardiovascular_Mortality,Kidney_Mortality,Cancer_Mortality,Mental_Mortality
0,26049000100,26049,Genesse,0.0660,0.00369,0.018800,0.004060,0.018100,0.002950
1,26049000200,26049,Genesse,0.0722,0.00120,0.025300,0.003610,0.017400,0.000000
2,26049000300,26049,Genesse,0.0448,0.00215,0.015966,0.001842,0.010439,0.002150
3,26049000400,26049,Genesse,0.0700,0.00250,0.026200,0.002500,0.015000,0.000625
4,26049000500,26049,Genesse,0.0503,0.00399,0.018900,0.003490,0.011460,0.002490

In [37]:
## Explore new_health_df

new_health_df.info()

## Looks like this a full dataset without the gaps of the other one. Thants good to see

## We are going to want to pair these down further to get rid of the county code and county name columns before we try any machine learning

#Create dataframe with just county codes and names associated with the GEOID
county_names_df = new_health_df[['GEOID10','CountyCode','CountyName']]
county_names_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594 entries, 0 to 1593
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GEOID10                   1594 non-null   int64
 1   CountyCode                1594 non-null   int64
 2   CountyName                1594 non-null   object
 3   Total_Mortality           1594 non-null   float64
 4   Diabetes_Mortality        1594 non-null   float64
 5   Cardiovascular_Mortality  1594 non-null   float64
 6   Kidney_Mortality          1594 non-null   float64
 7   Cancer_Mortality          1594 non-null   float64
 8   Mental_Mortality          1594 non-null   float64
dtypes: float64(6), int64(2), object(1)
memory usage: 112.2+ KB

       GEOID10  CountyCode CountyName
0  26049000100       26049    Genesse
1  26049000200       26049    Genesse
2  26049000300       26049    Genesse
3  26049000400       26049    Genesse
4  26049000500       26049    Genesse

## Send the Neighborhood data to postgress as two new tables

In [38]:
# Initialize the postgress engine
engine = create_engine(f'postgresql://postgres:{password2}@localhost/food_dessert')


# Send to neighborhood dataframes to postgres and individual tables
new_df.to_sql('Environment', engine)
new_health_df.to_sql('Health', engine)

594

In [3]:
## CHECKING ATLAS DATA

### EDA Just veiw as panda
import pandas as pd


# PATH_2019 = 'data/2019_atlas.csv'
df_2019 = pd.read_csv(PATH_2019)

# PATH_2015 = 'data/2015_atlas.csv'
df_2015 = pd.read_csv(PATH_2015)

# PATH_2010 = 'data/2010_atlas.csv'
df_2010 = pd.read_csv(PATH_2010)
### 2010 data only contains 65 columns versus 147 in the more recent data sets


df_2019.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [21]:
#### Explore 

# df.describe()

df.dtypes

#df.columns

column_list = list(df)
column_list

['CensusTract',
 'State',
 'County',
 'Urban',
 'Pop2010',
 'OHU2010',
 'GroupQuartersFlag',
 'NUMGQTRS',
 'PCTGQTRS',
 'LILATracts_1And10',
 'LILATracts_halfAnd10',
 'LILATracts_1And20',
 'LILATracts_Vehicle',
 'HUNVFlag',
 'LowIncomeTracts',
 'PovertyRate',
 'MedianFamilyIncome',
 'LA1and10',
 'LAhalfand10',
 'LA1and20',
 'LATracts_half',
 'LATracts1',
 'LATracts10',
 'LATracts20',
 'LATractsVehicle_20',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lapophalfshare',
 'lalowihalf',
 'lalowihalfshare',
 'lakidshalf',
 'lakidshalfshare',
 'laseniorshalf',
 'laseniorshalfshare',
 'lawhitehalf',
 'lawhitehalfshare',
 'lablackhalf',
 'lablackhalfshare',
 'laasianhalf',
 'laasianhalfshare',
 'lanhopihalf',
 'lanhopihalfshare',
 'laaianhalf',
 'laaianhalfshare',
 'laomultirhalf',
 'laomultirhalfshare',
 'lahisphalf',
 'lahisphalfshare',
 'lahunvhalf',
 'lahunvhalfshare',
 'lasnaphalf',
 'lasnaphalfshare',
 'lapop1',
 'lapop1share',
 'lalowi1',
 'lalowi1share',
 'lakids1',
 'lakids1share',
 'laseniors1',
 'laseniors1share',
 'lawhite1',
 'lawhite1share',
 'lablack1',
 'lablack1share',
 'laasian1',
 'laasian1share',
 'lanhopi1',
 'lanhopi1share',
 'laaian1',
 'laaian1share',
 'laomultir1',
 'laomultir1share',
 'lahisp1',
 'lahisp1share',
 'lahunv1',
 'lahunv1share',
 'lasnap1',
 'lasnap1share',
 'lapop10',
 'lapop10share',
 'lalowi10',
 'lalowi10share',
 'lakids10',
 'lakids10share',
 'laseniors10',
 'laseniors10share',
 'lawhite10',
 'lawhite10share',
 'lablack10',
 'lablack10share',
 'laasian10',
 'laasian10share',
 'lanhopi10',
 'lanhopi10share',
 'laaian10',
 'laaian10share',
 'laomultir10',
 'laomultir10share',
 'lahisp10',
 'lahisp10share',
 'lahunv10',
 'lahunv10share',
 'lasnap10',
 'lasnap10share',
 'lapop20',
 'lapop20share',
 'lalowi20',
 'lalowi20share',
 'lakids20',
 'lakids20share',
 'laseniors20',
 'laseniors20share',
 'lawhite20',
 'lawhite20share',
 'lablack20',
 'lablack20share',
 'laasian20',
 'laasian20share',
 'lanhopi20',
 'lanhopi20share',
 'laaian20',
 'laaian20share',
 'laomultir20',
 'laomultir20share',
 'lahisp20',
 'lahisp20share',
 'lahunv20',
 'lahunv20share',
 'lasnap20',
 'lasnap20share',
 'TractLOWI',
 'TractKids',
 'TractSeniors',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP']

In [22]:
df.dtypes

CensusTract        int64
State             object
County            object
Urban              int64
Pop2010            int64
                  ...
TractAIAN        float64
TractOMultir     float64
TractHispanic    float64
TractHUNV        float64
TractSNAP        float64
Length: 147, dtype: object

In [ ]:
## TO DO

####### DONE 7/30 #######
## Using the neighborhood data (2 files, one on neighborhood classification, the other on health data)
## import the data and pair down to the relevent variables
## from health effect pull all the mortality data (overall and by relevent catagories, cardio diabetes, ect)
## frtom the classification data we want to look at low access, low acess& low incom, anmd possibly the MRei factor



## Import the neighborhood data into postgres