In [1]:
# importing pandas
import pandas as pd
import numpy as np


# create health_status_df
path = '/Users/derricknyagesuka/Desktop/PROJECT_TESTING/health_status.csv'
health_status_df = pd.read_csv(path, encoding = 'latin-1', low_memory=False)

In [2]:
health_status_df

,GEOID10,CountyCode,CountyName,YearDX2011,YearDX2009,YearDX2014,YearDX2012,YearDX2013,YearDX2010,Diab_YearDX2009_2013,...,B18105_Ambulatory_Difficulty_HD03_VD31,B18105_Ambulatory_Difficulty_HD01_VD32,B18105_Ambulatory_Difficulty_HD02_VD32,B18105_Ambulatory_Difficulty_HD03_VD32,B18105_Ambulatory_Difficulty_HD01_VD33,B18105_Ambulatory_Difficulty_HD02_VD33,B18105_Ambulatory_Difficulty_HD03_VD33,Mortality_Rate_DeathRate_0812,Mortality_Rate_AvgDeathsPerYear_0812,Neighborhood_Index_Tot_DisabStatus_WithDisability_Est
0,26049000100,26049,Genesse,33,34,40,31,32,43,8,...,29.179331,40,35.000000,21.276596,51,36.000000,21.884498,1.31%,36.0,319
1,26049000200,26049,Genesse,31,27,13,26,27,23,2,...,23.708207,71,37.000000,22.492401,26,20.000000,12.158055,1.49%,25.8,58.7
2,26049000300,26049,Genesse,26,36,26,28,25,41,7,...,11.550152,12,18.000000,10.942249,11,18.000000,10.942249,1.03%,33.0,19
3,26049000400,26049,Genesse,22,23,22,25,25,18,4,...,21.276596,42,30.000000,18.237082,10,12.000000,7.294833,1.44%,23.0,275
4,26049000500,26049,Genesse,19,19,22,21,20,19,6,...,21.276596,24,20.000000,12.158055,32,29.000000,17.629179,1.04%,19.8,20.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,26163985600,26163,Wayne,0,0,0,0,0,0,0,...,6.079027,0,10.000000,6.079027,0,10.000000,6.079027,NaN,0.0,0
1590,26163985700,26163,Wayne,0,0,0,0,0,0,0,...,6.079027,0,10.000000,6.079027,0,10.000000,6.079027,NaN,0.0,0
1591,26163985900,26163,Wayne,0,0,0,0,0,0,0,...,6.079027,0,10.000000,6.079027,0,10.000000,6.079027,NaN,0.0,0
1592,26163990100,26163,Wayne,0,0,0,0,0,0,0,...,6.079027,0,10.000000,6.079027,0,10.000000,6.079027,NaN,0.0,0
1593,26163990200,26163,Wayne,0,0,0,0,0,0,0,...,0.000000,10,6.079027,0.000000,10,6.079027,NaN,0,0.0,NaN

In [3]:
# create food_environment_df
path = '/Users/derricknyagesuka/Desktop/PROJECT_TESTING/food_environment.csv'
food_environment_df = pd.read_csv(path)
food_environment_df

,GEOID10,CountyCode,CountyName,Food_Desert_Tot_Pop,Food_Desert_Pct_Lowa_Pop,Food_Desert_lowa_Pop,Food_Desert_Pct_Lowi,Food_Desert_Lowi,Food_Desert_Pct_Hunv,Food_Desert_Hunv,...,Food_Desert_Kids,Food_Desert_Pct_Seniors,Food_Desert_Seniors,Food_Desert_mrfei,Spatial_Measures_grocerystore_Density,Spatial_Measures_fastfood_Density,Spatial_Measures_grocerystore_Distance,Spatial_Measures_fastfood_Distance,Spatial_Measures_Liquor_Density,Spatial_Measures_Liquor_Distance
0,26049000100,26049,Genesse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16.666667,NaN,0.15,NaN,0.62,0.65,0.41
1,26049000200,26049,Genesse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.222222,NaN,0.44,NaN,0.56,2.99,0.28
2,26049000300,26049,Genesse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.000000,NaN,1.21,NaN,0.47,3.41,0.23
3,26049000400,26049,Genesse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.000000,NaN,1.81,NaN,0.40,6.60,0.22
4,26049000500,26049,Genesse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.000000,NaN,2.36,NaN,0.45,5.22,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,26163985600,26163,Wayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.00,2.412654,1.03,0.29,0.64
1588,26163985700,26163,Wayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.005249,0.08,0.985129,0.75,0.06,0.60
1589,26163985900,26163,Wayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.00,1.221064,0.50,0.00,0.45
1590,26163990100,26163,Wayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.00,1.878373,1.88,0.00,0.29
1591,26163990200,26163,Wayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.00,3.160975,1.07,0.00,1.48

In [4]:
# create active_living_df
path = '/Users/derricknyagesuka/Desktop/PROJECT_TESTING/active_living_resources.csv'
active_living_df = pd.read_csv(path)
active_living_df

,GEOID10,CountyCode,CountyName,ParkLand_Measures_Park_Acre,ParkLand_Tract_Acre,ParkLand_Measures_Parkland_Normalized,Spatial_Measures_ESRI_RecAreas_Density,Spatial_Measures_ESRI_RecAreas_Distance,Spatial_Measures_recrecen_n_Density,Spatial_Measures_recrecen_n_Distance
0,26049000100,26049,Genesse,33.623508,33.623508,0.083825,1.57,0.40,0.00,1.40
1,26049000200,26049,Genesse,1.503433,1.503433,0.004951,1.81,0.28,0.00,0.68
2,26049000300,26049,Genesse,0.028612,0.028612,0.000099,0.00,0.45,0.00,1.31
3,26049000400,26049,Genesse,11.382590,11.382590,0.032136,1.75,0.30,1.81,0.40
4,26049000500,26049,Genesse,19.482257,19.482257,0.061315,3.46,0.25,0.00,1.44
...,...,...,...,...,...,...,...,...,...,...
1585,26163985600,26163,Wayne,9.918351,9.918351,0.011734,0.52,0.59,0.00,2.93
1586,26163985700,26163,Wayne,0.000000,0.000000,0.000000,0.00,0.78,0.49,0.69
1587,26163985900,26163,Wayne,0.000000,0.000000,0.000000,0.00,0.53,0.00,1.17
1588,26163990100,26163,Wayne,0.000000,0.000000,NaN,0.00,0.29,0.00,0.29
1589,26163990200,26163,Wayne,0.000000,0.000000,NaN,0.00,1.10,0.00,2.57

In [8]:
merged_df = pd.concat([health_status_df, food_environment_df, active_living_df], axis=1, join='outer')
merged_df

,GEOID10,CountyCode,CountyName,YearDX2011,YearDX2009,YearDX2014,YearDX2012,YearDX2013,YearDX2010,Diab_YearDX2009_2013,...,GEOID10,CountyCode,CountyName,ParkLand_Measures_Park_Acre,ParkLand_Tract_Acre,ParkLand_Measures_Parkland_Normalized,Spatial_Measures_ESRI_RecAreas_Density,Spatial_Measures_ESRI_RecAreas_Distance,Spatial_Measures_recrecen_n_Density,Spatial_Measures_recrecen_n_Distance
0,26049000100,26049,Genesse,33,34,40,31,32,43,8,...,2.604900e+10,26049.0,Genesse,33.623508,33.623508,0.083825,1.57,0.40,0.00,1.40
1,26049000200,26049,Genesse,31,27,13,26,27,23,2,...,2.604900e+10,26049.0,Genesse,1.503433,1.503433,0.004951,1.81,0.28,0.00,0.68
2,26049000300,26049,Genesse,26,36,26,28,25,41,7,...,2.604900e+10,26049.0,Genesse,0.028612,0.028612,0.000099,0.00,0.45,0.00,1.31
3,26049000400,26049,Genesse,22,23,22,25,25,18,4,...,2.604900e+10,26049.0,Genesse,11.382590,11.382590,0.032136,1.75,0.30,1.81,0.40
4,26049000500,26049,Genesse,19,19,22,21,20,19,6,...,2.604900e+10,26049.0,Genesse,19.482257,19.482257,0.061315,3.46,0.25,0.00,1.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,26163985600,26163,Wayne,0,0,0,0,0,0,0,...,2.616399e+10,26163.0,Wayne,0.000000,0.000000,NaN,0.00,1.10,0.00,2.57
1590,26163985700,26163,Wayne,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1591,26163985900,26163,Wayne,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,26163990100,26163,Wayne,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,26163990200,26163,Wayne,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Number of NaN values
merged_df.isna().sum().sum()

16958